[submodule "tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "sensible"]
	path = tmux/plugins/tmux-sensible
	url = git@github.com/tmux-plugins/tmux-sensible
[submodule "yank"]
	path = tmux/plugins/tmux-yank
	url = git@github.com:tmux-plugins/tmux-yank
[submodule "themepack"]
	path = tmux/themepack
	url = https://github.com/jimeh/tmux-themepack.git
[submodule "dotkitty"]
	path = kitty
	url = git@github.com:strathausen/dotkitty.git
