[tpm]
  path=tmux/plugins/tpm
  url=https://github.com/tmux-plugins/tpm
[kitty]
  path=kitty
  url=git@github.com:strathausen/dotkitty.git
[submodule "dotkitty"]
	path = kitty
	url = git@github.com:strathausen/dotkitty.git
